<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>e-hospital</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Authenticate</display-name>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>servlets.Authenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostCreator</display-name>
    <servlet-name>PostCreator</servlet-name>
    <servlet-class>servlets.PostCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostCreator</servlet-name>
    <url-pattern>/addpost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Parser</display-name>
    <servlet-name>Parser</servlet-name>
    <servlet-class>servlets.Parser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Parser</servlet-name>
    <url-pattern>/parser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>servlets.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/readMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Commenter</display-name>
    <servlet-name>Commenter</servlet-name>
    <servlet-class>servlets.Commenter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Commenter</servlet-name>
    <url-pattern>/addcomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Researcher</display-name>
    <servlet-name>Researcher</servlet-name>
    <servlet-class>servlets.Researcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Researcher</servlet-name>
    <url-pattern>/addresearcb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Collector</display-name>
    <servlet-name>Collector</servlet-name>
    <servlet-class>servlets.Collector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Collector</servlet-name>
    <url-pattern>/collect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Handler</display-name>
    <servlet-name>Handler</servlet-name>
    <servlet-class>servlets.Handler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Handler</servlet-name>
    <url-pattern>/idler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleSchedules</display-name>
    <servlet-name>HandleSchedules</servlet-name>
    <servlet-class>servlets.HandleSchedules</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleSchedules</servlet-name>
    <url-pattern>/addschedule</url-pattern>
  </servlet-mapping>
</web-app>