<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>e-analysis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Authentication</display-name>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>servlets.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Parser</display-name>
    <servlet-name>Parser</servlet-name>
    <servlet-class>servlets.Parser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Parser</servlet-name>
    <url-pattern>/Parser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Evaluation</display-name>
    <servlet-name>Evaluation</servlet-name>
    <servlet-class>servlets.Evaluation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Evaluation</servlet-name>
    <url-pattern>/Evaluation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUsers</display-name>
    <servlet-name>ManageUsers</servlet-name>
    <servlet-class>servlets.ManageUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUsers</servlet-name>
    <url-pattern>/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Android</display-name>
    <servlet-name>Android</servlet-name>
    <servlet-class>android_wrapper.Android</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android</servlet-name>
    <url-pattern>/android</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionManager</display-name>
    <servlet-name>QuestionManager</servlet-name>
    <servlet-class>servlets.QuestionManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionManager</servlet-name>
    <url-pattern>/addquestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fixer</display-name>
    <servlet-name>Fixer</servlet-name>
    <servlet-class>servlets.Fixer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fixer</servlet-name>
    <url-pattern>/fixer</url-pattern>
  </servlet-mapping>
</web-app>